[net]
<<<<<<< HEAD
# Testing
batch=1
subdivisions=1
# Training
# batch=64
# subdivisions=8
width=608
height=608
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation = 1.5
exposure = 1.5
hue=.1

learning_rate=0.001
burn_in=1000
max_batches = 500200
policy=steps
steps=400000,450000
scales=.1,.1

[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
=======
batch=64
subdivisions=64
height=448
width=448
channels=3
learning_rate=0.01
momentum=0.9
decay=0.0005

[crop]
crop_width=448
crop_height=448
flip=0
angle=0
saturation = 2
exposure = 2

[convolutional]
filters=64
size=7
stride=2
pad=1
activation=ramp

[convolutional]
filters=192
size=3
stride=2
pad=1
activation=ramp

[convolutional]
filters=128
size=1
stride=1
pad=1
activation=ramp

[convolutional]
filters=256
size=3
stride=2
pad=1
activation=ramp

[convolutional]
filters=128
size=1
stride=1
pad=1
activation=ramp

[convolutional]
>>>>>>> b5b3d7367411302dd6e73c8fe583d6860a786445
filters=256
size=3
stride=1
pad=1
<<<<<<< HEAD
activation=leaky

[convolutional]
batch_normalize=1
=======
activation=ramp

[convolutional]
>>>>>>> b5b3d7367411302dd6e73c8fe583d6860a786445
filters=128
size=1
stride=1
pad=1
<<<<<<< HEAD
activation=leaky

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
=======
activation=ramp

[convolutional]
filters=512
size=3
stride=2
pad=1
activation=ramp

[convolutional]
filters=256
size=1
stride=1
pad=1
activation=ramp

[convolutional]
>>>>>>> b5b3d7367411302dd6e73c8fe583d6860a786445
filters=512
size=3
stride=1
pad=1
<<<<<<< HEAD
activation=leaky

[convolutional]
batch_normalize=1
=======
activation=ramp

[convolutional]
>>>>>>> b5b3d7367411302dd6e73c8fe583d6860a786445
filters=256
size=1
stride=1
pad=1
<<<<<<< HEAD
activation=leaky

[convolutional]
batch_normalize=1
=======
activation=ramp

[convolutional]
>>>>>>> b5b3d7367411302dd6e73c8fe583d6860a786445
filters=512
size=3
stride=1
pad=1
<<<<<<< HEAD
activation=leaky

[convolutional]
batch_normalize=1
=======
activation=ramp

[convolutional]
>>>>>>> b5b3d7367411302dd6e73c8fe583d6860a786445
filters=256
size=1
stride=1
pad=1
<<<<<<< HEAD
activation=leaky

[convolutional]
batch_normalize=1
=======
activation=ramp

[convolutional]
>>>>>>> b5b3d7367411302dd6e73c8fe583d6860a786445
filters=512
size=3
stride=1
pad=1
<<<<<<< HEAD
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=1024
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=1024
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
=======
activation=ramp

[convolutional]
filters=256
size=1
stride=1
pad=1
activation=ramp

[convolutional]
filters=512
size=3
stride=1
pad=1
activation=ramp

[convolutional]
filters=256
size=1
stride=1
pad=1
activation=ramp

[convolutional]
filters=1024
size=3
stride=2
pad=1
activation=ramp

[convolutional]
>>>>>>> b5b3d7367411302dd6e73c8fe583d6860a786445
filters=512
size=1
stride=1
pad=1
<<<<<<< HEAD
activation=leaky

[convolutional]
batch_normalize=1
=======
activation=ramp

[convolutional]
>>>>>>> b5b3d7367411302dd6e73c8fe583d6860a786445
filters=1024
size=3
stride=1
pad=1
<<<<<<< HEAD
activation=leaky


#######

[convolutional]
batch_normalize=1
=======
activation=ramp

[convolutional]
>>>>>>> b5b3d7367411302dd6e73c8fe583d6860a786445
size=3
stride=1
pad=1
filters=1024
<<<<<<< HEAD
activation=leaky

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=1024
activation=leaky

[route]
layers=-9

[convolutional]
batch_normalize=1
size=1
stride=1
pad=1
filters=64
activation=leaky

[reorg]
stride=2

[route]
layers=-1,-4

[convolutional]
batch_normalize=1
=======
activation=ramp

[convolutional]
size=3
stride=2
pad=1
filters=1024
activation=ramp

[convolutional]
size=3
stride=1
pad=1
filters=1024
activation=ramp

[convolutional]
>>>>>>> b5b3d7367411302dd6e73c8fe583d6860a786445
size=3
stride=1
pad=1
filters=1024
<<<<<<< HEAD
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=425
activation=linear


[region]
anchors =  0.57273, 0.677385, 1.87446, 2.06253, 3.33843, 5.47434, 7.88282, 3.52778, 9.77052, 9.16828
bias_match=1
classes=80
coords=4
num=5
softmax=1
jitter=.3
rescore=1

object_scale=5
noobject_scale=1
class_scale=1
coord_scale=1

absolute=1
thresh = .6
random=1
=======
activation=ramp

[connected]
output=4096
activation=ramp

[dropout]
probability=.5

[connected]
output=1225
activation=logistic

[detection]
classes=20
coords=4
rescore=0
joint=0
objectness=1

>>>>>>> b5b3d7367411302dd6e73c8fe583d6860a786445
